---
import ProjectsLayout from "../layouts/ProjectsLayout.astro";
---

<ProjectsLayout title="Servicios - Ciudad Renovable">
	<section class="max-w-screen-xl flex flex-col items-center mx-auto">
		<div class="p-8 flex flex-col items-center lg:flex-row border-b-2">
			<img
				class="rounded-2xl"
				src="/images/fotoServicios.png"
				alt="imagen servicios"
			/>

			<div class="mt-5 flex flex-col items-center">
				<h2
					class="text-2xl lg:text-4xl font-extrabold text-[#021731] mb-2 text-center"
				>
					Nuestros Servicios
				</h2>
				<div class="h-1 w-24 bg-[#00E95F] mx-auto my-4"></div>

				<p
					class="text-black text-sm md:text-base font-extrabold leading-snug text-justify md:w-3/5 mb-4 text-center lg:w-3/4"
				>
					Ciudad Renovable es una empresa especializada en el diseño,
					construcción, operación y consultoría de proyectos de ingeniería con
					enfoque en energía solar, asegurando la eficiencia energética y
					optimizando el uso de los recursos.
				</p>

				<p
					class="text-black text-sm md:text-base font-extrabold leading-snug text-justify md:w-3/5 text-center lg:w-3/4"
				>
					En Ciudad Renovable encuentras acompañamiento constante y
					especializado durante y después de tu proyecto de diseño, construcción
					o consultoría, respaldados por nuestra experiencia y equipo humano lo
					que nos permite brindarte la confianza para realizar tu proyecto de
					manera segura y eficiente.
				</p>
			</div>
		</div>

		<div class="p-8 flex flex-col gap-4 max-w-screen-md">
			<div class="bg-[#00E95F] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/light.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Somos especialistas en proyectos de ingeniería con enfoque en energía
				</p>
			</div>
			<div class="bg-[#00e95fcf] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/circleCheck.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					EPC para sistemas solares fotovoltaicos
				</p>
			</div>
			<div class="bg-[#00e95f8f] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/battery.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Desarrollo de diseño e ingeniería detallada de sistemas solares
					fotovoltaicos e iluminación
				</p>
			</div>
			<div class="bg-[#51516B] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/check.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Legalización de proyectos solares fotovoltaicos bajo resolución CREG
					174 de 2021
				</p>
			</div>
			<div class="bg-[#51516bd4] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/bombilla.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Estudios de prefactibilidad, factibilidad y desarrollo de proyectos a
					gran escala
				</p>
			</div>
			<div class="bg-[#51516b9c] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/check.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Trámites de beneficios tributarios de ley 1715 de 2014
				</p>
			</div>
			<div class="bg-[#00E95F] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/light.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Gerencia de proyectos de ingeniería eléctrica
				</p>
			</div>
			<div class="bg-[#00e95fcf] flex flex-row items-center p-4 h-28">
				<img
					class="border-r-2 w-14 pr-2 border-[#021731]"
					src="/icons/circleCheck.svg"
					alt="servicios"
				/>
				<p
					class="text-[#021731] text-sm md:text-base font-extrabold leading-snug text-justify p-4"
				>
					Mantenimiento de sistemas fotovoltaicos
				</p>
			</div>
		</div>
	</section>
</ProjectsLayout>
