<footer class="bg-[#021731] mt-16 md:h-[300px]">
	<div
		class="p-4 flex flex-col gap-4 md:flex-row md:p-8 md:items-center md:justify-between h-full"
	>
		<img src="/images/logo_footer.svg" alt="logo" class="mb-4 md:mb-0" />
		<div class="text-left gap-2 flex flex-col">
			<a
				href="https://wa.me/3016955963"
				class="flex items-center gap-2 text-white"
			>
				<img src="/icons/logowssp.svg" alt="icono whatsapp" class="w-7 h-7" />
				<span>wpp: 301 6955963</span>
			</a>
			<div class="flex items-center gap-2 text-white">
				<img src="/icons/logoemail.svg" alt="icono correo" class="w-7 h-7" />
				<span>sjaramillo@ciudadrenovable.com</span>
			</div>
		</div>
		<div class="text-left gap-2 flex flex-col md:mr-10">
			<a
				href="https://www.facebook.com/ciudadrenovable"
				target="_blank"
				class="flex items-center gap-2 text-white"
			>
				<img
					src="/icons/icons8-facebook.svg"
					alt="icono instagram"
					class="w-7 h-7"
				/>
				<span>Facebook</span>
			</a>
			<a
				href="https://www.instagram.com/ciudadrenovable/?igshid=MzRlODBiNWFlZA%3D%3D"
				target="_blank"
				class="flex items-center gap-2 text-white"
			>
				<img
					src="/icons/icons8-instagram.svg"
					alt="icono facebook"
					class="w-7 h-7"
				/>

				<span>Instagram</span>
			</a>
		</div>
	</div>
</footer>
