<header class="flex h-20 max-w-4xl justify-between items-center mx-auto px-8">
	<a href="/" class="flex items-center">
		<img src="/images/menu.svg" alt="logo" class="h-12" />
	</a>

	<nav class="hidden md:flex list_nav">
		<ul class="flex">
			<li>
				<a href="/" class="text-gray-700 hover:text-green-500">INICIO</a>
			</li>
			<li>
				<a href="/#nosotros" class="text-gray-700 hover:text-green-500"
					>NOSOTROS</a
				>
			</li>
			<li>
				<a href="/proyectos" class="text-gray-700 hover:text-green-500"
					>PROYECTOS</a
				>
			</li>
			<li>
				<a href="/#contacto" class="text-gray-700 hover:text-green-500"
					>CONTACTO</a
				>
			</li>
		</ul>
	</nav>

	<!-- Mobile menu button -->
	<div class="mobile-menu-btn md:hidden" id="toggleMobileMenu">
		<svg
			class="h-6 w-6"
			fill="none"
			stroke="currentColor"
			viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M4 6h16M4 12h16m-7 6h7"></path>
		</svg>
	</div>

	<!-- Mobile menu -->
	<div class="mobile-menu" id="mobileMenu">
		<ul class="flex flex-col">
			<li class="my-2 text-center">
				<a href="/" class="text-gray-700 hover:text-green-500">INICIO</a>
			</li>
			<li class="my-2 text-center">
				<a href="/#nosotros" class="text-gray-700 hover:text-green-500"
					>NOSOTROS</a
				>
			</li>
			<li class="my-2 text-center">
				<a href="/proyectos" class="text-gray-700 hover:text-green-500"
					>PROYECTOS</a
				>
			</li>
			<li class="my-2 text-center">
				<a href="/#contacto" class="text-gray-700 hover:text-green-500"
					>CONTACTO</a
				>
			</li>
		</ul>
	</div>
</header>

<script is:inline>
	const handleMobileMenu = document.getElementById("toggleMobileMenu");
	const mobileMenu = document.getElementById("mobileMenu");

	handleMobileMenu.addEventListener("click", () => {
		mobileMenu.classList.toggle("show");
	});
</script>

<style>
	header {
		display: flex;
		height: 110px;
		max-width: 1438px;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.list_nav {
		display: flex;
	}

	.list_nav li {
		width: 116px;
		text-align: center;
		border-left: 1px solid #00e95f;
		color: #51516b;
		font-size: 14px;
		font-style: normal;
		font-weight: bolder;
		line-height: normal;
	}

	header {
		background-color: #ffffff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		position: relative; /* Added position: relative */
	}

	.list_nav {
		display: none; /* Hide the menu by default on small screens */
	}

	@media (min-width: 768px) {
		.list_nav {
			display: flex; /* Show the menu for medium and larger screens */
		}
	}

	/* Additional styles for the mobile menu */
	.mobile-menu-btn {
		display: block;
		cursor: pointer;
	}

	@media (min-width: 768px) {
		.mobile-menu-btn {
			display: none; /* Hide the mobile menu button for medium and larger screens */
		}
	}

	.mobile-menu {
		display: none; /* Hide the mobile menu by default on larger screens */
		position: absolute;
		top: 100%; /* Updated top to be below the header */
		right: 0;
		flex-direction: column;
		background-color: #ffffff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		z-index: 10;
		width: 100%; /* Set the width to be full */
	}

	@media (max-width: 767px) {
		.list_nav {
			display: none;
		}

		.mobile-menu.show {
			display: flex; /* Show the mobile menu when it's active */
		}
	}
</style>
